@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
  font-family: 'Bebas Neue', sans-serif;
}
*{
    margin: 0px;
  box-sizing: border-box;
}
.brand{
 margin-left: 1000px;   
}
.heading{
  margin: 160px 20px 0px 350px;
}
.margin{
  margin-left: 190px;
}
.margin-2{
  margin-left: 120px;
}
.margin-3{
  margin-left: 140px;
}
.mail{
margin-right: 170px;
}
.bg-img{
  background-image:linear-gradient(transparent , rgb(17, 14, 14)),url(./images/bg-img\ \(2\).jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 680px;
}

.margin-4{
padding-top: 50px;
height: 580px;
}
.margin-4-1{
  padding-top: 50px;
  height: 850px;
}
.margin-5 {
padding-left: 150px;
padding-top: 200px;
}
.tv-img{
  width: 30px;
  height: 20px;
 }
 .margin-6{
  padding-left: 100px;
 }

 .margin-7{
  padding-left: 20px;
  padding-top: 150px;
 }
 .margin-8{
  width: 78%;
  height: 72px;
  margin: 25px 20px 0px 200px;
 }
 .margin-8-1{
  width: 78%;
  height: 200px;
  margin: 25px 20px 0px 200px;
 }
 .margin-8-2{
  width: 78%;
  height: 100px;
  margin: 25px 20px 0px 200px;
 }
 .margin-8-3{
  width: 78%;
  height: 250px;
  margin: 25px 20px 0px 200px;
 }
 .margin-8-4{
  width: 78%;
  height: 110px;
  margin: 25px 20px 0px 200px;
 }
 .margin-9{
  margin-left: 200px; ;
 }
 .margin-10{
    padding-right: 320px;
 }
 .margin-11{
  padding-left: 205px;
 }
 .margin-12{
  padding-left: 288px;
 }
 .margin-13{
  padding-left: 196px;
 }
 .margin-14{
  padding-left: 320px;
 }
 .margin-15{
  padding-left: 166px;
 }
 .margin-16{
  padding-left: 250px;
 }
 .margin-17{
  padding-left: 226px;
 }
 .margin-18{
  padding-left: 315px;
 }
 .my-shadow{
  box-shadow: 10px 10px 10px grey;
}